.card{
  padding: 1%;
  background-color: #242424b1;
  border-radius: 2.5rem;
  backdrop-filter: blur(.5px);
  margin: 1% 40% 0% 0%;
  width: 60%;
  max-width: 100%;
  animation: fadeInOpacity .22s cubic-bezier(0.42, 0, 1, 1) 1 forwards;
 height:auto;
}

.cardText{
  font-size: 1.25rem;
  padding: 0% 1%;
  line-height: 2rem;

}

.cardTitle{
margin: 0%;
font-size: var(--size-8);
padding: 1%;
color: var(--greyed-font-color);
font-weight: 400;
  font-family: var(--sub-font);
  letter-spacing: .2rem;

}

.cardWrapper{
  margin: 0% 0% 0% 5%;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media(max-width:1200px){
  .card{
    margin: 0%;
    width: 95%;
    padding: 2%;
  }
}