.card{
  padding: 1%;
  background-color: #242424;
  border-radius: 2.5rem;
  backdrop-filter: blur(10px);
  margin: 5% 0;
  width: 100%;
  max-width: 100%;
}

.cardText{
  font-size: 1.25rem;
  padding: 0% 1%;
  line-height: 2rem;
}

.cardTitle{
margin: 0%;
font-size: 2.5rem;
padding: 1%;
}
